Repository dnd-mentee-4th/dnd-mentee-4th-8-mewe, pull requests merged in 2021-02, with the labels that each got.

#9 Feature/front main view activate
  client/MEWE/MEWE.xcodeproj/project.pbxproj
  client/MEWE/MEWE/Calendar/View/CalendarView.swift
  client/MEWE/MEWE/Category/View/CategoryView.swift
  client/MEWE/MEWE/CategoryView/CategoryView.swift
  client/MEWE/MEWE/ContentView.swift
  client/MEWE/MEWE/Emoji.swift
  client/MEWE/MEWE/Friend/View/FriendView.swift
  client/MEWE/MEWE/MEWEApp.swift
  client/MEWE/MEWE/MainView/CircleView.swift
  client/MEWE/MEWE/MainView/MainView.swift
  client/MEWE/MEWE/MainView/SelectEmoji.swift
  client/MEWE/MEWE/RecordEmoji/View/RecordEmojiView.swift
  client/MEWE/MEWE/RecordEmojiView/RecordEmojiView.swift
  client/MEWE/MEWE/Today/View/CircleView.swift
  client/MEWE/MEWE/Today/View/SelectEmoji.swift
  client/MEWE/MEWE/Today/View/TodayEmojiView.swift
  client/MEWE/MEWE/Today/View/TodayView.swift
  client/MEWE/MEWE/UserProfile/View/UserProfileView.swift
Labels: View

#10 Feature/front monthly chart view
  client/MEWE/MEWE.xcodeproj/project.pbxproj
  client/MEWE/MEWE.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  client/MEWE/MEWE.xcodeproj/xcshareddata/xcschemes/MEWE.xcscheme
  client/MEWE/MEWE/MonthlyChart/View/MonthlyChartView.swift
  client/MEWE/MEWE/MonthlyChart/View/NoticeView.swift
  client/MEWE/MEWE/MonthlyChart/ViewModel/MonthlyChartViewModel.swift
  client/MEWE/MEWE/Utility/Font.swift
  client/MEWE/MEWE/Utility/SystemImageName.swift
  client/MEWE/MEWETests/MonthlyChartViewModelTests.swift
Labels: View, ViewModel

#12 feature: add help chat bubble view as framework
  client/MEWE/MEWE.xcodeproj/project.pbxproj
Labels: View

#13 Feature/monthly analysis chart view
  client/MEWE/MEWE.xcodeproj/project.pbxproj
  client/MEWE/MEWE/MonthlyChart/Model/EmotionAnalysis.swift
  client/MEWE/MEWE/MonthlyChart/View/MonthlyAnalysisView.swift
  client/MEWE/MEWE/MonthlyChart/View/MonthlyChartView.swift
  client/MEWE/MEWE/MonthlyChart/View/MonthlyRepresentativeEmojiView.swift
  client/MEWE/MEWE/MonthlyChart/ViewModel/MonthlyAnalysisViewModel.swift
  client/MEWE/MEWE/MonthlyChart/ViewModel/MonthlyChartViewModel.swift
Labels: View, ViewModel

#14 feat: reopen HelpChatBubble framework file
  client/MEWE/HelpBubble/HelpBubble.xcodeproj/project.pbxproj
  client/MEWE/HelpBubble/HelpBubble/HelpChatBubbleView.swift
  client/MEWE/HelpBubble/HelpBubble/Info.plist
  client/MEWE/MEWE.xcodeproj/project.pbxproj
Labels: View

#7 feature: nest setup
  .gitignore
  backend/.eslintrc.json
  backend/nest-cli.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.module.ts
  backend/src/controllers/app.controller.ts
  backend/src/main.ts
  backend/src/routes/index.route.ts
  backend/src/server.ts
  backend/src/services/app.service.ts
  backend/test/app.e2e-spec.ts
  backend/test/controllers/app.controller.spec.ts
  backend/test/jest-e2e.json
  backend/tsconfig.build.json
  backend/tsconfig.json
Labels: feature

#21 Feature/ front rounded bottom navigation view
  client/MEWE/MEWE.xcodeproj/project.pbxproj
  client/MEWE/MEWE/Common/RoundedBottomNavigationView.swift
  client/MEWE/MEWE/EmojiMap/View/EmojiMapView.swift
  client/MEWE/MEWE/Utility/SystemImageName.swift
Labels: View

#22 Feature/ search bar & show bottom sheet when date in navigation bar is tapped (Emoji Map View)
  client/MEWE/MEWE.xcodeproj/project.pbxproj
  client/MEWE/MEWE/Common/RoundedBottomNavigationView.swift
  client/MEWE/MEWE/EmojiMap/View/CalendarSheetView.swift
  client/MEWE/MEWE/EmojiMap/View/EmojiMapView.swift
  client/MEWE/MEWE/EmojiMap/View/SearchBar.swift
  client/MEWE/MEWE/Utility/SystemImageName.swift
Labels: View

#23 Feature/front today view
  client/MEWE/MEWE.xcodeproj/project.pbxproj
  client/MEWE/MEWE/Assets.xcassets/RecordEmoji_exitBtn.imageset/4188.svg
  client/MEWE/MEWE/Assets.xcassets/RecordEmoji_exitBtn.imageset/Contents.json
  client/MEWE/MEWE/Assets.xcassets/RecordEmoji_nextBtn.imageset/4187.png
  client/MEWE/MEWE/Assets.xcassets/RecordEmoji_nextBtn.imageset/4187@2x.png
  client/MEWE/MEWE/Assets.xcassets/RecordEmoji_nextBtn.imageset/4187@3x.png
  client/MEWE/MEWE/Assets.xcassets/RecordEmoji_nextBtn.imageset/Contents.json
  client/MEWE/MEWE/MEWEApp.swift
  client/MEWE/MEWE/RecordEmoji/View/RecordEmojiCell.swift
  client/MEWE/MEWE/RecordEmoji/View/RecordEmojiTextView.swift
  client/MEWE/MEWE/RecordEmoji/View/RecordEmojiView.swift
  client/MEWE/MEWE/RecordEmoji/View/RecordEmojiWhereView.swift
  client/MEWE/MEWE/RecordEmoji/ViewModel/RecordEmojiViewModel.swift
  client/MEWE/MEWE/Tab/TabsView.swift
  client/MEWE/MEWE/Today/View/CircleView.swift
  client/MEWE/MEWE/Today/View/TodayEmojiView.swift
  client/MEWE/MEWE/Today/View/TodayView.swift
Labels: View

#24 Refactor / modify code to set height when it is initialized
  client/MEWE/MEWE/Common/RoundedBottomNavigationView.swift
Labels: View

#30 Feature/front map view
  client/MEWE/MEWE.xcodeproj/project.pbxproj
  client/MEWE/MEWE/Assets.xcassets/emoji_anger.imageset/mewe_이모지_분노-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_anger.imageset/mewe_이모지_분노-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_anger.imageset/mewe_이모지_분노.png
  client/MEWE/MEWE/Assets.xcassets/emoji_concern.imageset/mewe_이모지_걱정-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_concern.imageset/mewe_이모지_걱정-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_concern.imageset/mewe_이모지_걱정.png
  client/MEWE/MEWE/Assets.xcassets/emoji_ease.imageset/mewe_이모지_편안-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_ease.imageset/mewe_이모지_편안-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_ease.imageset/mewe_이모지_편안.png
  client/MEWE/MEWE/Assets.xcassets/emoji_flustration.imageset/mewe_이모지_당황-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_flustration.imageset/mewe_이모지_당황-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_flustration.imageset/mewe_이모지_당황.png
  client/MEWE/MEWE/Assets.xcassets/emoji_happiness.imageset/mewe_이모지_행복-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_happiness.imageset/mewe_이모지_행복-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_happiness.imageset/mewe_이모지_행복.png
  client/MEWE/MEWE/Assets.xcassets/emoji_heart.imageset/mewe_이모지_설렘-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_heart.imageset/mewe_이모지_설렘-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_heart.imageset/mewe_이모지_설렘.png
  client/MEWE/MEWE/Assets.xcassets/emoji_joy.imageset/mewe_이모지_즐거움-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_joy.imageset/mewe_이모지_즐거움-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_joy.imageset/mewe_이모지_즐거움.png
  client/MEWE/MEWE/Assets.xcassets/emoji_proud.imageset/mewe_이모지_뿌듯-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_proud.imageset/mewe_이모지_뿌듯-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_proud.imageset/mewe_이모지_뿌듯.png
  client/MEWE/MEWE/Assets.xcassets/emoji_sadness.imageset/mewe_이모지_슬픔-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_sadness.imageset/mewe_이모지_슬픔-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_sadness.imageset/mewe_이모지_슬픔.png
  client/MEWE/MEWE/Assets.xcassets/emoji_tiredness.imageset/mewe_이모지_피곤-1.png
  client/MEWE/MEWE/Assets.xcassets/emoji_tiredness.imageset/mewe_이모지_피곤-2.png
  client/MEWE/MEWE/Assets.xcassets/emoji_tiredness.imageset/mewe_이모지_피곤.png
  client/MEWE/MEWE/Common/Reaction.swift
  client/MEWE/MEWE/Common/RoundedBottomNavigationView.swift
  client/MEWE/MEWE/EmojiMap/Models/Card.swift
  client/MEWE/MEWE/EmojiMap/Models/EmojiLocation.swift
  client/MEWE/MEWE/EmojiMap/Models/MKPointAnnotation.swift
  client/MEWE/MEWE/EmojiMap/View Model/MapViewModel.swift
  client/MEWE/MEWE/EmojiMap/View/EmojiCardView.swift
  client/MEWE/MEWE/EmojiMap/View/EmojiMapView.swift
  client/MEWE/MEWE/EmojiMap/View/MapView.swift
  client/MEWE/MEWE/EmojiMap/View/SearchBar.swift
  client/MEWE/MEWE/Info.plist
  client/MEWE/MEWE/Tab/TabsView.swift
  client/MEWE/MEWE/Utility/Image.swift
Labels: View, ViewModel

#31 Feature/ front redesigned monthly chart view
  client/MEWE/MEWE.xcodeproj/project.pbxproj
  client/MEWE/MEWE/Assets.xcassets/greyWhite.colorset/Contents.json
  client/MEWE/MEWE/MonthlyChart/Model/Trend.swift
  client/MEWE/MEWE/MonthlyChart/View/MonthlyAnalysisView.swift
  client/MEWE/MEWE/MonthlyChart/View/MonthlyChartView.swift
  client/MEWE/MEWE/MonthlyChart/View/MonthlyRepresentativeEmojiView.swift
  client/MEWE/MEWE/MonthlyChart/View/NoticeView.swift
  client/MEWE/MEWE/MonthlyChart/ViewModel/MonthlyAnalysisViewModel.swift
  client/MEWE/MEWE/Utility/Color.swift
  client/MEWE/MEWE/Utility/Image.swift
Labels: View, ViewModel
